html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(86, 86, 82);
}

button{
  margin-left: 50%;
  margin-top: 10px;
  align-content: center;
    padding: 1em ;
    background-color: rgb(165, 201, 193);
    color:white;
    outline: 0;
    font-size: 18px;
    border-radius: 13px;
}

#map {
    height: 100%;
  }

  